<p>

    Bonjour {{firstname}},<br><br>
    Vous avez annulé votre reservation <strong>&#x2116;{{reservationId}}</strong> du trajet <strong>{{journeyLabel}}</strong>. <br> 
    départ prévu le {{date}} à {{time}}.
</p>