<p>
    Bonjour {{firstname}},<br><br>
    Vous avez reservé un billet <strong>&#x2116; {{reservationId}}</strong> pour le trajet <strong>{{journeyLabel}}</strong>.<br>
    Le départ est prévu pour le {{date}} à {{time}}.<br><br>
    Veuillez prendre vos dispositions. Bon voyage !
</p>